@import '../../assets/style/global.scss';

.step-container {
  min-width: 300px;
  max-width: 469px;
  min-height: 695px;
  background-color: $background-color;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  clip-path: inset(10px 10px 10px 10px);
  justify-content: space-between;
  @media #{$media-mobile} {
    padding: 2rem;
  }
  .step__buttons {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    animation: .5s ease-out 0s 1 slideInFromLeft;

    @media #{$media-mobile} {
      gap: 1rem;
    }
  }
  .step__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    animation: .5s ease-out 0s 1 slideInFromLeft;

    .step__multi-input-group {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
    .step__input-group {
      :first-child {
        margin-bottom: 0.5rem;
      }
      input {
        margin-top: auto;
      }
    }
  }

  .step--animation-ar {
    animation: .5s ease-out 0s 1 slideInFromRight;
  }

  .step__title {
    max-width: 360px;
    font-size: 1.25rem;
    font-weight: 600px;
    color: $text-color;
    text-align: center;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}
